.headingPage {
  margin: 0px -12px 10px -13px;
}
.boxUers {
  .card {
    .boxnumber {
      top: 5;
      left: 5px;
      position: absolute;
      .number {
        width: 45px;
        height: 25px;
        line-height: 25px;
        text-align: center;
        background: #4343436e;
        p {
          margin: 0px;
          font-size: 14px;
          color: $whiteColor;
        }
      }
    }
    .card-body {
      padding: 0px;
      a {
        color: inherit;
        &:hover {
          text-decoration: none;
        }
      }
      .creadBy {
        border-top: 1px solid #dddddd;
        .user {
          padding: 15px;
          .listUser {
            width: 100%;
            overflow: hidden;
            .icons {
              width: 10%;
              float: left;
              text-align: center;
            }
            .descUser {
              width: 90%;
              float: left;
              padding-left: 5px;
              p {
                color: #646464;
                margin: 2px 0px;
                font-weight: 500;
                font-size: 14.5px;
                line-height: 18px;
              }
            }
          }
        }
      }
    }
    .card-footer {
      padding: 7px;
      text-align: center;
      background: $pinkColor;
      a {
        display: block;
        font-size: 16px;
        font-weight: 500;
        color: $whiteColor;
        text-transform: uppercase;
        &:hover {
          text-decoration: none;
        }
      }
    }
  }
}

.detail {
  .imgBig {
    img {
      height: 100%;
    }
  }
  .card-body {
    padding: 15px;
    .headingDetail {
      margin-bottom: 15px;
      padding-bottom: 10px;
      border-bottom: 1px solid #dddddd;
      .userDetail {
        overflow: hidden;
        .avatar {
          float: left;
          img {
            width: 35px;
            margin-right: 10px;
            border-radius: 50%;
          }
        }
        .named {
          float: left;
          h3 {
            margin: 0px;
            font-size: 17px;
            padding-top: 0px;
          }
          .date {
            p {
              margin: 0px;
              font-size: 11px;
              color: #838383;
            }
          }
        }
      }
    }
    .detailTitle {
      .title {
        h2 {
          margin: 0px;
          font-size: 17px;
          text-overflow: ellipsis;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
          overflow: hidden;
          display: -webkit-box;
        }
      }
    }
    .descDetail {
      margin-top: 15px;
      .heading {
        h3 {
          color: #6e6e6e;
          font-size: 17px;
          margin-bottom: 4px;
        }
      }
      .boxdetail {
        width: 100%;
        overflow: hidden;
        .icons {
          width: 10%;
          float: left;
          text-align: center;
        }
        .descUser {
          width: 90%;
          float: left;
          padding-top: 3px;
          padding-left: 5px;
        }
      }
      p {
        margin: 0px;
        line-height: 17px;
        font-size: 14px;
        text-overflow: ellipsis;
        -webkit-line-clamp: 5;
        -webkit-box-orient: vertical;
        overflow: hidden;
        display: -webkit-box;
      }
    }
  }
}

.infinite-loading-container {
  width: 100%;
  .infinite-status-prompt {
    span.loading-wave-dots {
      span.wave-item {
        background: #ffa7a7 !important;
      }
    }
  }
}